<div mat-dialog-content>
  <mat-label class="form-title">Sign In</mat-label>
  <form [formGroup]="formGroup">
    <mat-form-field appearance="fill">
      <mat-label>Enter your email</mat-label>
      <input matInput placeholder="pat@example.com" formControlName="email" required>
      <mat-error *ngIf="hasError('email', 'required')">Email is required</mat-error>
      <mat-error *ngIf="hasError('email', 'email')">Invalid email format</mat-error>
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label>Enter your password</mat-label>
      <input type="password" matInput placeholder="Password" formControlName="password" required>
      <mat-error *ngIf="hasError('password', 'required')">Password is required</mat-error>
      <mat-error *ngIf="hasError('password', 'minlength')">Password length min 8 char</mat-error>
    </mat-form-field>
    <div class="example-button-row">
      <button mat-raised-button color="accent" [disabled]="onSignIn" (click)="signIn()">Sign In</button>
    </div>
    <mat-error *ngIf="notFoundError">Incorrect login or password</mat-error>
    <mat-label class="registration-form">
      <a (click)="openDialog()">Registration</a>
    </mat-label>
  </form>
</div>
